<div class="container">
  <h1>Orders</h1>
  <table #table mat-table [dataSource]="getOrders()" class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let order">{{ order.id }}</td>
    </ng-container>

    <!-- Client Column -->
    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef>Client</th>
      <td mat-cell *matCellDef="let order">{{ order.client.name }}</td>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let order">{{ order.createdAt }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let order">
        <button
          mat-raised-button
          color="primary"
          *ngIf="canAcceptOrder(order)"
          (click)="updateOrder(order.id, OrderState.OrderStateAccepted)"
        >
          Accept
        </button>
        <button
          mat-raised-button
          color="warn"
          *ngIf="canAcceptOrder(order)"
          (click)="updateOrder(order.id, OrderState.OrderStateDeclined)"
        >
          Decline
        </button>
        <button mat-raised-button (click)="openOrderView(order)">View</button>
        <button
          mat-raised-button
          color="accent"
          *ngIf="order.stateId === OrderState.OrderStateAccepted"
          (click)="updateOrder(order.id, OrderState.OrderStateFulfilled)"
        >
          Mark as fullfilled
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div *ngIf="getOrders().length === 0" class="mx-auto p-2">
    No items to display!
  </div>
</div>
