<h1
  mat-dialog-title
  *ngIf="
    data.order?.stateId !== OrderState.OrderStateDeclined &&
    data.order?.stateId !== OrderState.OrderStateAccepted &&
    data.order?.stateId !== OrderState.OrderStateFulfilled
  "
>
  {{ data.action }} Order {{ data.order?.id }}
</h1>
<h1
  mat-dialog-title
  *ngIf="data.order?.stateId === OrderState.OrderStateDeclined"
>
  Order {{ data.order?.id }} was canceled
</h1>
<h1
  mat-dialog-title
  *ngIf="data.order?.stateId === OrderState.OrderStateAccepted"
>
  Order {{ data.order?.id }} was accepted
</h1>
<h1
  mat-dialog-title
  *ngIf="data.order?.stateId === OrderState.OrderStateFulfilled"
>
  Order {{ data.order?.id }} was fullfilled
</h1>
<div mat-dialog-content>
  <table
    #table
    mat-table
    [dataSource]="data.order ? getOrderItems(items) : items"
    class="mat-elevation-z8"
  >
    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let item">
        <avatar fallback="NA" [imageUrl]="getImageUrl(item)"></avatar>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let item">{{ item.name }}</td>
    </ng-container>

    <!-- Size Column -->
    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef>Size</th>
      <td mat-cell *matCellDef="let item">{{ item.size }}</td>
    </ng-container>

    <!-- Unit Column -->
    <ng-container matColumnDef="unit">
      <th mat-header-cell *matHeaderCellDef>Unit</th>
      <td mat-cell *matCellDef="let item">{{ item.unit }}</td>
    </ng-container>

    <!-- Edit Quantity Column -->
    <ng-container matColumnDef="editQuantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let item">
        <mat-form-field>
          <mat-label>Size</mat-label>
          <input
            type="number"
            [ngModelOptions]="{ standalone: true }"
            matInput
            required
            [(ngModel)]="orderItems[item.id]"
          />
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let item">
        {{ orderItems[item.id] }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div mat-dialog-actions *ngIf="data.action === CrudDialogAction.CREATE">
    <button
      type="button"
      cdkFocusInitial
      mat-button
      color="primary"
      (click)="createOrder()"
    >
      Create order
    </button>
    <button type="button" mat-button (click)="onCancel()">Close</button>
  </div>
  <div
    mat-dialog-actions
    *ngIf="
      data.action === CrudDialogAction.CLIENT_UPDATE &&
      data.order?.stateId !== OrderState.OrderStateDeclined &&
      data.order?.stateId !== OrderState.OrderStateAccepted &&
      data.order?.stateId !== OrderState.OrderStateFulfilled
    "
  >
    <button
      type="button"
      cdkFocusInitial
      mat-button
      color="primary"
      (click)="updateOrderState(OrderState.OrderStateDeclined)"
    >
      Cancel order
    </button>
    <button type="button" mat-button (click)="onCancel()">Close</button>
  </div>
  <div
    mat-dialog-actions
    *ngIf="
      data.action === CrudDialogAction.SUPPLIER_UPDATE &&
      data.order?.stateId !== OrderState.OrderStateDeclined &&
      data.order?.stateId !== OrderState.OrderStateAccepted &&
      data.order?.stateId !== OrderState.OrderStateFulfilled
    "
  >
    <button
      type="button"
      cdkFocusInitial
      mat-button
      color="primary"
      (click)="updateOrderState(OrderState.OrderStateAccepted)"
    >
      Accept order
    </button>
    <button
      type="button"
      mat-button
      (click)="updateOrderState(OrderState.OrderStateDeclined)"
    >
      Decline order
    </button>
  </div>
</div>
