<h1 mat-dialog-title>{{ data.action }} Item</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngIf="data.action != 'Delete'; else elseTemplate">
      <mat-form-field>
        <mat-label>Item name</mat-label>
        <input matInput placeholder="Milk" [formControl]="f.name" required />
        <mat-error *ngIf="f.name.errors">{{
          getErrorMessage('name')
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Size</mat-label>
        <input
          type="number"
          matInput
          placeholder="1"
          [formControl]="f.size"
          required
        />
        <mat-error *ngIf="f.size.errors">{{
          getErrorMessage('size')
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Unit</mat-label>
        <mat-select required [formControl]="f.unit">
          <mat-option value="kg" selected>kg</mat-option>
          <mat-option value="l">liter</mat-option>
        </mat-select>
        <mat-error *ngIf="f.unit.errors">{{
          getErrorMessage('unit')
        }}</mat-error>
      </mat-form-field>
      <div class="mb-3">
        <label class="form-label">Product image</label>
        <input
          type="file"
          formControlName="image"
          class="form-control"
          [ngClass]="{
            'is-invalid': submited && f.image.errors
          }"
          (change)="onFileSelect($event)"
        />
        <div *ngIf="f.image.errors" class="invalid-feedback">
          <div *ngIf="f.image.errors?.['required']">Item image is required</div>
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <button type="submit" cdkFocusInitial mat-button color="primary">
        {{ data.action }}
      </button>
      <button type="button" mat-button (click)="onCancel()">Cancel</button>
    </div>
  </form>
  <ng-template #elseTemplate>
    Sure to delete <b>{{ data.item?.name }}</b
    >?
  </ng-template>
</div>
