<div class="container">
  <mat-toolbar color="secondary" class="d-flex gap-1">
    <avatar
      [fallback]="conversation.getName(user.id) || 'EM'"
      [imageUrl]="conversation.getImageUrl(user.id)"
    />
    <span>{{ conversation.getName(user.id) }}</span>
  </mat-toolbar>
  <mat-list class="chat" #chat>
    <mat-list-item
      *ngFor="let message of messages"
      class="message"
      [ngClass]="{ 'own-message': message.senderId === user.id }"
      #messages
    >
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>
            {{ getSender(message) }} (Sent:
            {{ message.createdAt | date : 'long' }})
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="d-flex align-items-center w-100">
            <p class="mb-0">{{ message.content }}</p>
            <button
              style="margin-left: auto"
              *ngIf="orders[message.id]"
              type="button"
              color="secondary"
              matSuffix
              mat-icon-button
              aria-label="Edit order"
              (click)="
                openOrderDialog({
                  action:
                    user.type === UserType.BUSINESS
                      ? CrudDialogAction.CLIENT_UPDATE
                      : CrudDialogAction.SUPPLIER_UPDATE,
                  order: orders[message.id],
                  prevMessageId: message.id,
                  conversation: conversation
                })
              "
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-list-item>
  </mat-list>
  <form class="chat-input" [formGroup]="form" (ngSubmit)="sendMessage()">
    <mat-form-field
      appearance="outline"
      class="w-100"
      subscriptSizing="dynamic"
    >
      <button
        *ngIf="user.type === UserType.BUSINESS"
        type="button"
        color="primary"
        matSuffix
        mat-icon-button
        aria-label="Create order"
        (click)="
          openOrderDialog({
            action: CrudDialogAction.CREATE,
            conversation: conversation
          })
        "
      >
        <mat-icon>add</mat-icon>
      </button>
      <input matInput formControlName="message" placeholder="Enter a message" />
      <button
        type="submit"
        color="primary"
        matSuffix
        mat-icon-button
        aria-label="Submit"
      >
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>
