<div class="container">
  <mat-toolbar color="secondary">{{
    conversation.getName(user.id)
  }}</mat-toolbar>
  <mat-list class="chat">
    <mat-list-item
      *ngFor="let message of messages"
      class="message"
      [ngClass]="{ 'own-message': message.senderId === user.id }"
    >
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>
            {{ message.senderId }} (Sent:
            {{ message.createdAt | date : 'long' }}) >
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ message.content }}</p>
        </mat-card-content>
      </mat-card>
    </mat-list-item>
  </mat-list>
  <form class="chat-input" [formGroup]="form" (ngSubmit)="sendMessage()">
    <mat-form-field
      appearance="outline"
      class="w-100"
      subscriptSizing="dynamic"
    >
      <input matInput formControlName="message" placeholder="Enter a message" />
      <button
        type="submit"
        color="primary"
        matSuffix
        mat-icon-button
        aria-label="Submit"
      >
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>
